{
  "env": {
    "test": {
      "presets": [
        "babel-preset-vue-app"
      ],
      "plugins": [
        [
          "module-resolver",
          {
            "root": [
              "./src"
            ],
            "alias": {
              "@": "./src"
            }
          }
        ],
        "transform-es2015-modules-commonjs",
        "transform-runtime"
      ]
    }
  }
}
