service: rapido-web

plugins:
  - serverless-offline
  - serverless-plugin-aws-alerts

provider:
  name: aws
  runtime: nodejs8.10
  cfnRole: ${opt:cfn-role}
  deploymentBucket:
    name: ${opt:deployment-bucket}
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'eu-west-1'}

  environment:
    NODE_ENV: production

functions:
  app:
    handler: lambda.handler
    events:
      - http: ANY /
      - http: 'ANY {proxy+}'

custom:
  alerts:
    dashboards: true
    topics:
      ok: ${self:service}-${opt:stage, 'dev'}-alerts-ok
      alarm: ${self:service}-${opt:stage, 'dev'}-alerts-alarm
      insufficientData: ${self:service}-${opt:stage, 'dev'}-alerts-insufficientData
    alarms:
      - functionThrottles
      - functionErrors
      - functionInvocations
      - functionDuration

  cloudfront:
    acmCertificateArn: ${env:CLOUDFRONT_ACM_CERTIFICATE_ARN}
    cookies: all
    domain: ${env:DOMAIN}
    headers:
      - Referer
    priceClass: PriceClass_100
    querystring: all
    webACLId: ${env:CLOUDFRONT_WEB_ACL_ID}

  dns:
    hostedZoneId: ${env:HOSTED_ZONE_ID}
    regionalDomainName: regional-${env:DOMAIN}
    us-east-1:
      acmCertificateArn: ${env:US_EAST_1_CERTIFICATE_ARN}
    eu-west-1:
      acmCertificateArn: ${env:EU_WEST_1_CERTIFICATE_ARN}

resources:
  - ${file(infra/cloudfront.yml):${opt:region}}
  - ${file(infra/regional-domains.yml)}
