$white:                                 #fff;
$black:                                 #111;

$gray-base:                             #adb5bd;
$gray-100:                              mix(#f3f3f3, $gray-base, 100%);
$gray-200:                              mix(#f3f3f3, $gray-base, 75%);
$gray-300:                              mix(#f3f3f3, $gray-base, 50%);
$gray-400:                              mix(#f3f3f3, $gray-base, 25%);
$gray-500:                              $gray-base;
$gray-600:                              mix($black, $gray-base, 5%);
$gray-700:                              mix($black, $gray-base, 15%);
$gray-800:                              mix($black, $gray-base, 25%);
$gray-900:                              #bfc5cb;

$primary-base:                          #1200ff;
$primary-100:                           mix(#dce6f5, $primary-base, 100%);
$primary-200:                           mix(#dce6f5, $primary-base, 75%);
$primary-300:                           mix(#dce6f5, $primary-base, 50%);
$primary-400:                           mix(#dce6f5, $primary-base, 25%);
$primary-500:                           $primary-base;
$primary-600:                           mix($black, $primary-base, 5%);
$primary-700:                           mix($black, $primary-base, 15%);
$primary-800:                           mix($black, $primary-base, 25%);
$primary-900:                           mix($black, $primary-base, 35%);

$success-base:                          #28a745;
$success-100:                           mix($white, $success-base, 25%);
$success-200:                           mix($white, $success-base, 20%);
$success-300:                           mix($white, $success-base, 15%);
$success-400:                           mix($white, $success-base, 10%);
$success-500:                           $success-base;
$success-600:                           mix($black, $success-base, 10%);
$success-700:                           mix($black, $success-base, 15%);
$success-800:                           mix($black, $success-base, 20%);
$success-900:                           mix($black, $success-base, 25%);

$info-base:                             #17a2b8;
$info-100:                              mix($white, $info-base, 25%);
$info-200:                              mix($white, $info-base, 20%);
$info-300:                              mix($white, $info-base, 15%);
$info-400:                              mix($white, $info-base, 10%);
$info-500:                              $info-base;
$info-600:                              mix($black, $info-base, 10%);
$info-700:                              mix($black, $info-base, 15%);
$info-800:                              mix($black, $info-base, 20%);
$info-900:                              mix($black, $info-base, 25%);

$warning-base:                          #ffc107;
$warning-100:                           mix($white, $warning-base, 25%);
$warning-200:                           mix($white, $warning-base, 20%);
$warning-300:                           mix($white, $warning-base, 15%);
$warning-400:                           mix($white, $warning-base, 10%);
$warning-500:                           $warning-base;
$warning-600:                           mix($black, $warning-base, 10%);
$warning-700:                           mix($black, $warning-base, 15%);
$warning-800:                           mix($black, $warning-base, 20%);
$warning-900:                           mix($black, $warning-base, 25%);

$danger-base:                           #ee4136;
$danger-100:                            mix($white, $danger-base, 25%);
$danger-200:                            mix($white, $danger-base, 20%);
$danger-300:                            mix($white, $danger-base, 15%);
$danger-400:                            mix($white, $danger-base, 10%);
$danger-500:                            $danger-base;
$danger-600:                            mix($black, $danger-base, 10%);
$danger-700:                            mix($black, $danger-base, 15%);
$danger-800:                            mix($black, $danger-base, 20%);
$danger-900:                            mix($black, $danger-base, 25%);

$body-bg:                               $white;
$body-color:                            #003;

$link-color:                            $primary-500;
$link-decoration:                       none;
$link-hover-color:                      $primary-700;
$link-hover-decoration:                 underline;
