//== Grid

$--sm: 768px;
$--md: 992px;
$--lg: 1260px;

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1260px
);

$container-max-widths: (
  sm: 750px,
  md: 970px,
  lg: 1230px
);

$grid-columns:                          24;
$grid-gutter-width:                     30px;

// == Z-index

$z-index-header-navbar-top:             900;
$z-index-links:                         600;
$z-index-overlay-menu:                  500;
$z-index-loader:                        50;
