//== Shadows

$elevation-0: 0 0 0 rgba(0, 0, 0, 0.2);
$elevation-1: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
$elevation-2: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

//== Grid

$grid-breakpoints: (
  mobile: 0,
  tablet: 768px,
  desktop: 1200px
);

$container-max-widths: (
  mobile: 540px,
  tablet: 720px,
  desktop: 1140px
);

$grid-columns:                          12;
$grid-gutter-width:                     30px;

// == Z-index

$z-index-toolbar:                       1050;
$z-index-navigation:                    1010;
$z-index-navigation-overlay:            1000;
$z-index-modal:                         1500;
$z-index-dropdown:                      2000;
