.block {
  padding: 10px 0;

  @include media-breakpoint-up('sm') {
    padding: 20px 0 40px;
  }

  &--gray {
    background: $gray-100;
  }

  &--blue {
    background: $primary-100;
  }

  &--yellow {
    background: $info-500;
  }

  &--padded {
    padding: 20px;
  }

  @include media-breakpoint-up('sm') {
    & + .block--space-between {
      margin-top: 60px;
    }
  }

  @include media-breakpoint-only('xs') {
    &--mobile-white {
      background: $white;
    }
  }
}
