.block {
  padding: 10px 0;

  @include media-breakpoint-up('sm') {
    padding: 20px 0 40px;
  }

  &--gray {
    background: $gray-100;
  }

  @include media-breakpoint-up('sm') {
    & + .block--space-between {
      margin-top: 60px;
    }
  }
}
