.container {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);

  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint) {
      max-width: 100%;
      width: $container-max-width;
    }
  }

  &--mobile-not-padded {
    padding: 0;
    overflow-x: hidden;
  }
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  width: 100%;
}
