h1,
.h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-base;
}

h2,
.h2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-base;
}

h3,
.h3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-base;
}

h4,
.h4 {
  font-size: $font-size-h4;
  font-weight: $font-weight-base;
}

h5,
.h5 {
  font-size: $font-size-h5;
  font-weight: $font-weight-base;
}

h6,
.h6 {
  font-size: $font-size-h6;
  font-weight: $font-weight-base;
}

small {
  color: $gray-600;
}

button,
input,
select,
textarea {
  font-family: $font-family-base;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}
