.container {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);

  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint) {
      max-width: 100%;
      width: $container-max-width;
    }
  }

  &--mobile-not-padded {
    overflow-x: hidden;
    padding: 0;
  }

  &--not-mobile-not-padded {
    @include media-breakpoint-up('sm') {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  width: 100%;
}

.container-margin {
  margin-bottom: 40px;
  margin-top: 40px;
}
