/* stylelint-disable */

/* Preflight: it injects global styles for html tags */
/* more: https://tailwindcss.com/docs/preflight/ */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  @apply font-body text-base leading-normal text-primary font-normal antialiased;
}

@screen lg {
  html {
    @apply text-lg;
  }
}

input:focus,
select:focus,
button:focus,
:focus {
  outline: 0;
}

/* Extended components
  @TODO: find a better way for define the extended components
*/

@variants hover,
focus,
active {
  .bounce {
    transform: scale(0.96);
  }
}

.blur {
  -webkit-filter: blur(5px);
  /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}

.html-injected {
  @apply relative w-full;

  &>ul {
    @apply list-disc ml-4;
  }


  & b {
    @apply block;
  }

  & hr {
    @apply h-px w-full bg-gray m-0 border-0 my-4;
  }
}
