/* stylelint-disable */

/* Preflight: it injects global styles for html tags */
/* more: https://tailwindcss.com/docs/preflight/ */
@tailwind base;

html {
  @apply font-body;
}



p {
  @apply text-base leading-normal text-primary font-normal;
}

@screen lg {
  p {
    @apply text-lg;
  }
}

input:focus,
select:focus,
button:focus {
  outline: 0;
}

/* Extended components
  @TODO: find a better way for define the extended components
*/



@tailwind components;
@tailwind utilities;



@variants hover,
focus,
active {
  .scale-96 {
    transform: scale(0.96);
  }
}

.html-injected {
  & > ul {
    @apply list-disc ml-4;
  }
}
